params {
  config_profile_description = "UNC Charlotte's Orion cluster profile provided by nf-core/configs."
  config_profile_contact = 'David Wilson (dwils152)'
  config_profile_url = 'https://www.charlotte.edu'
}

workDir = "/scratch/${USER}/nextflow_work"

process {
  resourceLimits = [
    cpus: 128,
    memory: 1.TB,
    time: 30.d
  ]
  executor = 'slurm'
  queue = 'Orion'
  maxRetries = 4
  beforeScript = 'module load singularity'
}

executor {
  queueSize = 512
}

singularity {
  enabled = true
  autoMounts = true
}

